<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="false" />
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <error statusCode="404" responseMode="File" path="404.html" />
        </httpErrors>
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
		</staticContent>
    </system.webServer>
</configuration>
